@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.auth a {
    text-decoration: none;
    margin-left: 20px;
}

.login {
    color: #333;
}

.signup {
    color: black;
    background-color: rgb(189, 186, 186);
    padding: 10px 20px;
    border-radius: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left-content {
    flex: 1.2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content {
    flex: 0.8;
    position: relative;
}

.image-area {
    position: relative;
    margin-bottom: 30px;
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.free {
    background-color: #ffc107;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 500;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-area {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 2;
}

.upload-btn {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.edit-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.edit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.download-btn {
    background-color: #17a2b8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
}
